BasedOnStyle: LLVM

AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Left
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AlignCompound: true
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCaseColons: false
AlignEscapedNewlines: Right
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 0
AlignOperands: AlignAfterOperator
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
BinPackArguments: false
BinPackParameters: false
BreakAfterAttributes: Always
BreakArrays: true
ColumnLimit: 150
Cpp11BracedListStyle: false
IncludeBlocks: Regroup
IncludeIsMainRegex: "$^"
IndentCaseLabels: true
IncludeCategories:
  - Regex: "^<.*>$"
    Priority: 1
  - Regex: '^"SDL3/.*$'
    Priority: 2
  - Regex: '^"nyangine/.*h"$'
    Priority: 3
    SortPriority: 3
  - Regex: '^"gnyame/.*h"$'
    Priority: 3
    SortPriority: 4
  - Regex: '^".*h"$'
    Priority: 3
    SortPriority: 5
  - Regex: '^"nyangine/.*c"$'
    Priority: 4
    SortPriority: 6
  - Regex: '^"gnyame/.*c"$'
    Priority: 4
    SortPriority: 7
  - Regex: '^".*c"$'
    Priority: 4
    SortPriority: 8
IndentWidth: 4
PointerAlignment: Left
SortIncludes: CaseInsensitive
AttributeMacros:
  - __attr_allow_unused
  - __attr_cleanup
  - __attr_cold
  - __attr_constructor
  - __attr_deprecated
  - __attr_deprecated_with_message
  - __attr_destructor
  - __attr_fmt_printf
  - __attr_fmt_scanf
  - __attr_hot
  - __attr_malloc
  - __attr_matrix
  - __attr_no_discard
  - __attr_no_sanitize
  - __attr_noreturn
  - __attr_overloaded
  - __attr_retain
  - __attr_used
  - __attr_vector
ForEachMacros:
  - nya_array_for
  - nya_array_for_reverse
  - nya_array_foreach
  - nya_array_foreach_reverse
  - nya_dict_foreach_key
  - nya_dict_foreach_value
  - nya_dll_foreach
  - nya_dll_foreach_reverse
  - nya_entity_foreach
  - nya_entity_foreach_flags
  - nya_entity_foreach_kind
  - nya_hmap_foreach_key
  - nya_hmap_foreach_value
  - nya_hset_foreach
  - nya_ring_foreach
  - nya_ring_foreach_reverse
IfMacros:
  - nya_asset_with
TypenameMacros:
  - _nya_derive_array_name
  - _nya_derive_dict_name
  - _nya_derive_heap_name
  - _nya_derive_hmap_name
  - _nya_derive_hset_name
  - _nya_derive_maybe_name
  - _nya_derive_ring_name
  - nya_derive_array
  - nya_derive_dict
  - nya_derive_heap
  - nya_derive_hmap
  - nya_derive_hset
  - nya_derive_maybe
  - nya_derive_ring
  - nya_template
